#terminal .xterm {
  font-family: 'Courier New', monospace !important;
  font-size: 14px !important;
  background-color: #fffafa !important;
  /* color: #d4d4d4 !important; */
  color: chartreuse !important;
}